@import url(https://fonts.googleapis.com/css?family=Roboto:400,500);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block; }
em{font-style:italic;}
ul {list-style: disc;margin: 20px 0 20px 20px; }
ol{list-style:decimal;margin:20px 0 20px 15px;;}
ul li, ol li{padding:0;color: #666666;font-size: 14px;line-height: 1.4;margin-bottom:10px;}
blockquote, q {quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after {content: ''; content: none; }
table {border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }
body {line-height: 1.4;font-size:14px;font-family: 'Roboto', sans-serif;background-color:#edecec;}
h1,h2,h3,h4,h5{font-weight:bold;padding:10px 0;}
h2{font-size:20px}
h3{font-size:19px;}
h4 {font-size: 14px;margin-bottom: 5px;}
h5{font-size:17px;}
h6{font-weight:bold;padding:10px 0;}
p {color: #666666; font-size: 14px; line-height: 1.4; margin: 15px 0; }
.home p{max-height: 79px;overflow: hidden;}
a:hover, a:active, a:focus {outline: 0;}
blockquote{color:#666666; margin:0; padding-left: 3em; border-left: 0.5em #EEE solid;}
hr { display: block; height: 2px; border: 0; border-top: 1px solid #aaa;border-bottom: 1px solid #eee; margin: 1em 0; padding: 0; }
pre, code, kbd, samp { color: #000; font-size: 0.98em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
b, strong { font-weight: bold;color:#000; }

.marginT10{margin-top: 10px;}
.header{width: 100%;float: left;margin:0;background: #9c27b0;padding:10px 0;}
.container{max-width: 1140px;margin:0 auto;padding:0 !important;}
.logo{float: left;width:180px;}
.logo img{max-width:100%;}
.blog-txt{  background: url("../images/logo-divider.png") no-repeat scroll 0 0;color: #ffffff; float: left; font-size: 30px; height: 45px; line-height: 45px; margin-left: 25px; padding-left: 25px; text-transform: uppercase; width: auto;font-weight: 500;}
.header-top{width: 100%;float: left;margin: 0;background: #882299;height: 24px;}
ul.header-top-links {list-style: outside none none; margin: 0; padding: 2px 0 0; text-align: right; }
ul.header-top-links li {display: inline-block; padding: 3px 0; }
ul.header-top-links li:last-child a{border-right: 0;}
ul.header-top-links li a {border-right: 1px solid #9c51a9; color: #fdfdfd !important; display: block; font-size: 11px; padding: 0 10px 0 7px;text-decoration: none;text-transform: uppercase; }
ul.header-top-links li a:hover{color: #fff !important;}
.external-icon{background: url("../images/external-link.png") no-repeat; display: inline-block; height: 11px; width: 15px;}
.mid-container{display:inline-block;margin:35px 0; width:100%; }
.heading{font-size:16px; margin-bottom:15px;float: left;font-weight: 500;width:100%; } 
.left-section{width:68%;float:left; }
.blog-outer {width:100%; box-sizing:border-box; float:left; background: #ffffff none repeat scroll 0 0; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15); padding: 3%;margin-bottom: 18px; }
.blog-image{float: left;width: 32%;border: 1px solid #ececec;height: 246px;text-align: center;line-height: 226px;overflow: hidden;padding: 10px;box-sizing: border-box;vertical-align: middle; }
.blog-image img{max-width:100%;vertical-align:middle;outline: 2px solid white;outline-offset: -2px;}
.blog-image:blank, .blog-image:empty{display:none;} 
.blog-content{float:right; width:64%; }
.blog-heading{font-size: 24px; font-weight: 500; line-height: 1.2; margin-bottom: 15px;max-height: 56px;overflow: hidden; } 
.blog-heading > a {color: #000000; text-decoration: none; }
.blog-heading > a:hover{text-decoration: underline;}
.date{font-size:12px; line-height:15px; vertical-align:top; } 
.date img{margin-right:10px; vertical-align:top; }
.read-more{float:left; }
.read-more > a {color: #1781d5; font-size: 14px; text-decoration: none; }	
.read-more > a:hover{color: #0b6ab5;text-shadow: 0px 2px 8px rgba(0,0,0,0.3);}
.read-more img{margin-left:5px;}
.pagination{width:100%;float: left;margin:30px 0;position:relative;}
.pagination ul{list-style-type: none;padding: 0;margin: 0;}
.pagination ul li{display: inline-block;}
.pagination ul li img{padding-right: 8px;vertical-align: middle;}
.pagination ul li a {background: #ffffff none repeat scroll 0 0;box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);text-decoration: none; color: #838383; font-size: 14px; padding: 13px 22px; }
.pagination ul li a:hover{color: #000;}
.pagination ul li.next{float: right;margin-left:3px;}
.pagination ul li.next img{padding-left: 8px;padding-right: 0;}

.right-section{width:29%;float:right; }
.blog-outer.right{padding: 6%;}
.blog-heading.small{font-size: 16px;margin-bottom: 10px;line-height: 1.3; max-height: 40px;
    overflow: hidden}
.blog-image.small{width: 26%;}
.popular-blog {border-bottom: 1px solid #e8e8e8; float: left; margin-bottom: 15px; padding-bottom: 15px; width: 100%; }
.popular-blog:last-child{ border-bottom: 0 none; margin-bottom: 0; padding-bottom: 0;}
.input, .subscribe-email { border: 1px solid #d9d9d9 !important; box-sizing: border-box; color: #b4b1b1 !important; margin-top: 15px !important; padding: 10px 12px !important; width: 100% !important;line-height:1 !important;font-size:14px !important;border-radius:0 !important;margin-bottom:15px !important; }
.submit-btn{background: #ffeb3b !important; border: 0 none; color: #000000 !important; cursor: pointer; font-size: 13px !important; font-weight: 600; margin-top: 15px; padding: 8px 25px;border-radius:0 !important;box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);}
#mc_embed_signup form{padding:0 !important;}
.submit-btn:hover{background: #127acd;}
.social-icons{margin: 15px 0 0;}
.social-icons > a {display: inline-block; margin-right: 2px; }
.index-article-image{margin-bottom:0 !important;}
.full-width{width:100% !important;}
.copyright-txt {color: #666666;font-size: 12px;padding: 20px 0;}
.marginT25{margin-top:25px;}
.recent-posts ol{margin: 0;}
.recent-posts li {border-bottom: 1px dotted #cccccc;display: block;font-size: 14px;line-height: 1.3;margin-bottom: 8px;padding-bottom: 10px;}
.recent-posts li:last-child{margin-bottom:0;padding-bottom:0;border:0;}
#mc_embed_signup input.button{margin-bottom:0 !important;}
.share-img{margin-right:6px;}
.share {margin-bottom: 20px;float: left;width: 100%;font-size:13px;color:#666;}
.share a{text-decoration:none;}
.share.home{margin-bottom:12px}

/* new css*/
.blog-image.full-width.marginT25{width: 100% !important;height: auto;padding: 0;line-height: normal;text-align: left;
    border: 0;}
.blog-image.full-width.marginT25 .Image{display:none;}
.blog-image.full-width.marginT25 a, .blog-image.full-width.marginT25 p a{font-weight: 500 !important;text-decoration: underline;}
h6{padding-bottom:0 !important;}
.clearfix{clear:both;}
.left-image{float: left; margin-right: 20px;margin-bottom:10px; border: 1px solid rgb(237, 236, 236); object-fit: contain; padding: 10px;width:120px;height:120px;outline:0 !important;outline-offset: 0 !important;}
.right-image{object-fit: contain; margin: 15px; float: right; border: 1px solid rgb(237, 236, 236);padding:10px;margin: 0 0px 10px 15px;width:120px;height:120px;outline:0 !important;outline-offset: 0 !important;}
.page-number {font-size: 14px;text-align: center;width: 40%;position: absolute;left: 30%;}

/* RESPONSIVE CSS*/
@media only screen and (max-width:1160px){
.container {width: 96%; }
}
@media only screen and (max-width:960px){
.blog-heading.small{font-size: 14px;}
.blog-heading{font-size:22px;max-height: 78px;}
.blog-image{height:160px;line-height:140px;}
}
@media only screen and (max-width:767px){
.right-section, .left-section {width: 100%; }
.popular-blog {margin-right: 4%; width: 46%; }
.right-section{margin-top:20px;}
.blog-outer.right {padding: 4%; }
.mid-container{margin-bottom:0;}
 .blog-image {height: 230px;line-height: 210px;}
}
@media only screen and (max-width:640px){
.popular-blog {margin-right: 0; width: 100%; }
.blog-heading.small{max-height: 72px;}
.blog-image.small {width: 16%; }
.blog-content.popular {float: right; width: 79%; }
.blog-image{height: 194px;line-height:174px;}
}
@media only screen and (max-width:520px){
.blog-heading.small {max-height: 36px; }
.blog-outer{padding: 4%;}
.blog-txt{font-size:20px;}
.pagination ul li a{font-size:12px;padding:8px 8px;}
.page-number{font-size:12px;}
.blog-image {height: 150px;line-height: 130px;}
}

@media only screen and (max-width:460px){
.blog-image, .blog-content{width: 100%;}
.blog-image{margin-bottom: 15px;}
.blog-image img{width:auto;}
.blog-image {height: 270px;line-height: 250px;}
.left-image, .right-image{width:100% !important;}
}
@media only screen and (max-width:370px){
.blog-image.small {width: 22%; }
.blog-content.popular {width: 73%; }
.blog-outer {padding: 20px; }
.page-number{left:35%;width:30%;}
}
